! These are all possible options, presented with default values.
! xst will fallback to *.option if st.option is not present.
! see src/config.h for more information about option meanings.

! --- These options only take effect on startup. ---
st.termname:     xst-256color

! Set to a non-zero value to disable window decorations (titlebar, etc) and go borderless.
st.borderless:        0

! --- The following options options can be reloaded via USR1 signal. ---
st.font:              Liberation Mono:pixelsize=12:antialias=true:autohint=true;

! window padding
st.borderpx:          10

! Available cursor values: 2 4 6 7 = █ _ | ☃ ( 1 3 5 are blinking versions)
st.cursorshape:       2

! thickness of underline and bar cursors
st.cursorthickness:   2

! 0: normal blinking, 1: leave cursor border and blink with cursor's background
st.cursorblinkstyle:  0

! 0: cursor blinks with a constant interval; 1: blinking cycle resets on key input
st.cursorblinkontype: 1

st.disablebold:         0
st.disableitalics:         0
st.disableroman:         0

! Amount of lines scrolled
st.scrollrate:  1

! Kerning / character bounding-box height multiplier
st.chscale:           1.0

! Kerning / character bounding-box width multiplier
st.cwscale:           1.0

! blinking timeout for terminal and cursor blinking (0 disables)
st.blinktimeout:      800

! bell volume. Value between -100 and 100. (0 disables)
st.bellvolume:        100

! 1: render most of the lines/blocks characters without using the font for
! perfect alignment between cells (U2500 - U259F except dashes/diagonals).
! Bold affects lines thickness if boxdraw_bold is not 0. Italic is ignored.
! 0: disable (render all U25XX glyphs normally from the font).
st.boxdraw: 0

! (0|1) boxdraw(bold) enable toggle
st.boxdraw_bold: 0

! braille (U28XX):  1: render as adjacent "pixels",  0: use font
st.boxdraw_braille: 0

! opacity==255 means what terminal will be not transparent, 0 - fully transparent
! (float values in range 0 to 1.0 could be used instead)
st.opacity:      255
! (0|1) don't pre-multiply color values of the pixels when using transparency
! (useful for the systems where composite manager not running all the time,
! as color pre-multiplication will make the "opaque" colors look darker/lighter
! without the composition)
st.disable_alpha_correction: 0

! colors -- this is the base16-twilight colorscheme.
st.foreground:   #a7a7a7
st.background:   #1e1e1e
st.color0:       #1e1e1e
st.color1:       #cf6a4c
st.color2:       #8f9d6a
st.color3:       #f9ee98
st.color4:       #7587a6
st.color5:       #9b859d
st.color6:       #afc4db
st.color7:       #a7a7a7
st.color8:       #5f5a60
st.color9:       #cf6a4c
st.color10:      #8f9d6a
st.color11:      #f9ee98
st.color12:      #7587a6
st.color13:      #9b859d
st.color14:      #afc4db
st.color15:      #ffffff
st.color16:      #cda869
st.color17:      #9b703f
st.color18:      #323537
st.color19:      #464b50
st.color20:      #838184
st.color21:      #c3c3c3
