name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - name: make
      run: make
    - name: make install
      run: sudo env PREFIX=/usr/ make install
    - name: test deps
      run: sudo apt-get install -y xvfb
    - name: smoke test build
      run: xvfb-run ./xst bash -c exit
    - name: check installed file
      run: ls -la /usr/bin/xst || true
    - name: check installed file
      run: ls -la /usr/local/bin/xst || true
    - name: smoke test install
      run: xvfb-run xst bash -c exit
